.containerNavbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  max-width: 1232px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1232px;
  justify-content: space-between;
  align-items: center;
}
.containerNavLink {
  display: flex;
  width: 504px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.containerNavLink a {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  fill: var(--neutral-500);
  color: var(--neutral-500);
  text-decoration: none;
  position: relative;
}
.containerNavLink svg {
  width: 12px;
  height: 12px;
}
.menuIconMobileNavbar {
  display: none;
}
.containerNavLink a:hover {
  color: var(--red-withe-04);
  fill: var(--red-withe-04);
  transition: color 0.3s ease;
}
.containerNavLink a:hover .navbarLinkHoverElement {
  top: -60px;
}
.logoNavbar {
  fill: var(--neutral-200);
}
.containerProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.LinkedinLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  fill: var(--neutral-500);
  transition: all 0.3s ease;
  text-decoration: none;
}
.LinkedinLink:hover {
  color: var(--red-withe-04);
  fill: var(--red-withe-04);
  transition: color 0.3s ease;
}
.LinkedinLink:hover .srOnly {
  background-color: var(--red-black-04);
  transition: background-color 0.3s ease;
}
.srOnly {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background-color: var(--neutral-700);
}
.profilePictureNavbarContainer {
  position: relative;
}
.profilePictureNavbar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.profilePictureBorderNavbarElement {
  position: absolute;
  bottom: 5px;
  left: 0;
  animation: pulse 0.8s ease-in-out infinite alternate;
}
.navbarLinkHoverElement {
  width: 114px;
  height: 107px;
  position: absolute;
  left: 50%;
  top: -160px;
  transform: translateX(-50%);
  background: linear-gradient(180deg, rgb(178 36 38 / 0.5) 0%, #fff0 100%);
  transition: all 0.2s ease-out;
}

.mobileMenu {
  display: flex;
  background-color: rgba(51, 41, 41, 0.8);
  backdrop-filter: blur(20px);
  max-height: 0;
  width: calc(100% - 32px);
  position: absolute;
  top: 72px;
  z-index: 10;
  overflow: hidden;
  border-radius: 16px;
  margin: 0 16px;

  transition: all 0.3s ease;

  .linksContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      color: var(--neutral-100);
      font-family: var(--body-font-family);
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      fill: var(--neutral-100);
      justify-content: left;
    }

    .linhaElement {
      width: 100%;
      height: 1px;
      background-color: var(--neutral-600);
      opacity: 0.2;
    }
  }
}

.mobileMenu.open {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  border: solid 1px rgba(103, 84, 84, 0.5);
}

@media (min-width: 768px) {
  .mobileMenu.open {
    display: none;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@media (max-width: 768px) {
  .menuIconMobileNavbar {
    display: block;
    fill: var(--red-01);
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .containerNavLink {
    display: none;
  }
  .containerProfile {
    display: none;
  }
}
@media (max-width: 1200px) {
  .containerNavLink {
    width: auto;
    gap: 18px;
  }
}
