.projectsSection {
  padding: 120px 24px;
  display: flex;
  max-width: 1280px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}

.projectsContentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 120px;
  align-self: stretch;
}

.projectsHeaderContainer {
  display: flex;
  width: 504px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.headingProjectsSection {
  font-family: var(--heading-font-family);
  color: var(--neutral-800);
  font-size: 56px;
  font-style: 600;
  margin: 0;
  line-height: 120%;
}

.projectsCopyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0%;
  align-self: stretch;
}

.ornnryIconDesktop {
  display: block;
  fill: var(--red-01);
}

.ornnryIconMobile {
  display: none;
  fill: var(--red-01);
}

.linhaElement {
  width: 100%;
  height: 2px;
  background-color: var(--neutral-200);
}

@media ((max-width: 1280px) and (min-width: 769px)) {
  .headingProjectsSection {
    font-size: 48px;
  }

  .projectsContentContainer {
    gap: 32px;
  }

  .projectsHeaderContainer {
    width: 368px;
  }
}

@media (max-width: 768px) {
  .projectsSection {
    padding: 80px 24px;
    gap: 64px;
  }

  .projectsContentContainer {
    flex-direction: column;
    gap: 24px;
  }

  .projectsHeaderContainer {
    width: 100%;
  }

  .headingProjectsSection {
    font-size: 40px;
  }

  .projectsCopyContainer {
    gap: 24px;
  }

  .ornnryIconDesktop {
    display: none;
  }

  .ornnryIconMobile {
    display: block;
  }
}
