.seal_container {
  width: 100px;
  height: 100px;
  position: relative;
  fill: var(--neutral-200);
}
.text_seal_element {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateSeal 20s linear infinite;
}
.icon_seal_element {
  position: absolute;
  width: 38px;
  height: 38px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.seal_text {
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}
@keyframes rotateSeal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
