.slider {
  position: absolute;
  bottom: -140px;
  width: 120%;
  z-index: 0;
  mask-image: linear-gradient(
    to bottom,
    #fff0 30%,
    rgb(134 134 134 / 0.2) 60%,
    #d9d9d9 100%
  );
  transform: rotate(-8deg);
  opacity: 0.4;
}
.slide-track {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
}
.slide {
  flex-shrink: 0;
  padding: 0;
}
.slide img {
  height: 500px;
  width: auto;
  display: block;
}
@keyframes scroll {
  from {
    transform: translateX(-65%);
  }
  to {
    transform: translateX(-15%);
  }
}
@media (max-width: 768px) {
  .slider {
    display: none;
  }
  .slide img {
    height: 300px;
  }
}
