.topbar-container {
  position: RELATIVE;

  width: 100%;
  height: fit-content;
  background-color: var(--neutral-000);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;

  align-items: center;
  background-color: var(--red-01);
  color: var(--red-withe-03);
  font-family: var(--body-font-family);
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  z-index: 1000;
}

.topbar-container svg {
  fill: var(--red-black-03);
}
